@import "../variables.scss";
section.file_list_wrapper {
  margin: 15px 0;
  width: 100%;
  .title_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    padding: 25px 15px;
    border-radius: 20px;
    cursor: pointer;
    .title {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .grid_wrapper {
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    .grid_list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 10px;
      li {
        padding: 15px 15px;
        margin-top: 5px;
        background-color: $white;
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: $black;
        flex: 1 0 45%;
        max-width: 50%;
        transition: all 0.3s;
        // overflow: hidden;
        .icon {
          font-size: 18px;
          cursor: pointer;

          &.delete {
            padding: 0 15px;
            font-size: 14px;
            color: $color_danger;
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(148, 148, 148, 0.5);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }

        &.deleteable {
          padding-right: 50px;
        }

        &:hover {
          box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.04);
        }
      }

      @media (max-width: 768px) {
        li {
          flex: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .tab_layout {
    padding: 15px 0;
    .button_layout {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      justify-content: space-between;
      .tab_button {
        font-size: 14px;
        padding: 10px 12px;
        background-color: $white;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        border: 1px solid transparent;
        &:not(:disabled):hover {
          box-shadow: 4px 8px 16px rgba(122, 122, 122, 0.12);
          border-color: $color_primary_light;
        }
        &.active,
        &:disabled {
          color: $white;
          border-color: $color_primary;
          background: $color_primary;
          // font-weight: bold;
        }
      }

      @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .tab_content {
      .announcements_table_wrapper {
        width: 100%;
        background-color: $white;
        border-radius: 20px;
        margin-top: 15px;
        display: none;
        padding: 5px 15px;
        table {
          width: 100%;
          border-collapse: collapse;
          tr {
            th {
              text-align: left;
              border-bottom: 1px solid $color_primary_light;
            }
            th,
            td {
              padding: 15px 0px;
              text-align: center;
            }
          }
        }
        &.active {
          display: block;
        }
      }
    }
  }

  &.active {
    .grid_wrapper {
      visibility: visible;
      opacity: 1;
      max-height: 575px;
      overflow-y: scroll;
    }
  }
}
