@import "./variables.scss";

* {
  box-sizing: border-box !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color_primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color_primary;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: $theme_font;
  color: $black;
  // background-color: $black;
  ::selection {
    background-color: $color_primary;
    color: $white;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0em 0;
}

a {
  text-decoration: none;
  color: $color_primary;
}

.bold,
b {
  font-weight: 700;
}
.text-right {
  text-align: right !important;
}
.heading {
  font-size: 28px;
  margin-bottom: 14px;
  font-weight: 700;
  @media (max-width: 767px) {
    font-size: 22px;
  }
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  &.form-control {
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: $white;
    color: $black;
    font-size: 16px;
    font-family: $theme_font !important;
    font-weight: 400;
    outline: 0;
    padding: $fmc_y_padding $fmc_x_padding;
    transition: all 0.3s;
    &::placeholder {
      color: $color_grey;
    }
    &:focus {
      border-color: $color_primary;
    }
  }
}

.form_group {
  .upload {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(148, 148, 148, 0.5);
    padding: 35px 15px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    input::file-selector-button {
      font-weight: bold;
      color: dodgerblue;
      padding: 0.5em;
      border: thin solid grey;
      border-radius: 3px;
      opacity: 0;
    }
    label {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      color: #000;
      margin-right: 6px;
    }

    img {
      position: absolute;
      left: 145px;
      width: 50px;
      top: 16px;
    }
  }
}
.select-dropdown {
  padding-left: 50px !important;
  .inner-select__control {
    min-height: 52px;
    border-radius: 50px;
    padding-left: 45px;
  }
  .inner-select__menu {
    border-radius: 15px;
    overflow: hidden;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/images/down_sans_arrow_icon.svg);
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 15px;
  background-size: 3% 40%;
}
.btn_back {
  height: 25px;
  width: 25px;
  border: 0;
  outline: 2px solid #010d17;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "\e903";
    font-family: "icomoon" !important;
    font-size: 17px;
    font-weight: 900;
  }
}

.btn {
  outline: 0;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 30px;
  height: 52px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50px;

  &.btn_sm {
    padding: 10px 24px;
    height: 40px;
    font-size: 16px;
  }

  &.btn_dark {
    background: $black;
    color: $white;
    &:hover {
      box-shadow: 6px 12px 24px rgba(16, 16, 16, 0.32);
    }
  }

  &.btn_outline {
    border: 1px solid rgba(148, 148, 148, 0.5);
    background: transparent;
    &:hover {
      box-shadow: 6px 12px 24px rgba(16, 16, 16, 0.32);
    }
  }
  &.btn_primary {
    background: linear-gradient(142.5deg, #95cff5 1.12%, #61bbf9 98.54%);
    color: #ffffff;
  }
}

button {
  font-family: $theme_font;
}

.form_group {
  display: block;
  margin: 0.5em 0;
  label {
    display: block;
    margin: 0.4em 0;
    color: $color_grey;
  }
  .icon_group {
    display: block;
    width: 100%;
    position: relative;
    .icon {
      font-size: 18px;
      color: $color_grey;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s;
    }
    .input {
      padding-left: 50px;
      &:focus {
        ~ .icon {
          color: $black;
        }
      }
    }
  }

  .input {
    &.form-control {
      border-color: rgb(148, 148, 148, 50%);
      width: 100%;
      font-size: 16px;
      height: 52px;
      &:focus {
        box-shadow: 4px 8px 16px rgba(122, 122, 122, 0.12);
      }
    }
  }
  textarea {
    &.input.form-control {
      height: 120px;
      border-radius: 30px;
    }
  }

  &.inline {
    display: flex;
    flex-direction: row;
  }
}

.form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  .form_col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.backbtn {
  font-weight: 500;
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
  i {
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 10px;
  }
}

.feis_loader_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
  opacity: 0;
  visibility: collapse;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 11.2px;
    height: 11.2px;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 rgba(0, 145, 255, 0.2),
      22.7px 16.5px 0 0 rgba(0, 145, 255, 0.4),
      8.68px 26.6px 0 0 rgba(0, 145, 255, 0.6),
      -8.68px 26.6px 0 0 rgba(0, 145, 255, 0.8), -22.7px 16.5px 0 0 #0091ff;
    animation: spinner-b87k6z 1s infinite linear;
  }
}

/*
 PRE-LOGIN LAYOUT
*/

section#prelogin_layout {
  > .inner_wrapper {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    > div {
      flex: 1 0 50%;
    }

    .visual_wrapper {
      background: linear-gradient(140.75deg, #95cff5 1.04%, #61bbf9 100.66%);
      position: relative;
      padding: 50px;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: url(/images/prelogin_visual_bg.png) no-repeat;
        background-size: cover;
        background-position: center;
        mix-blend-mode: overlay;
        z-index: 0;
      }
      > .inner {
        height: 100%;
        width: 100%;
        background: linear-gradient(
          145.1deg,
          rgba(255, 255, 255, 0.12) -23.96%,
          rgba(255, 255, 255, 0.08) 131.78%
        );
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px 25px;
        position: relative;
        z-index: 10;
        .logo {
          height: 200px;
          width: 200px;

          @media (max-width: 1600px) {
            height: 150px;
            width: 150px;
          }
        }
        .static-visual {
          > .title {
            text-align: center;
            color: $white;
            font-size: 6.7vmin;
            margin-bottom: -3%;
            position: relative;
            z-index: 10;
            white-space: pre-wrap;
            transition: all 0.3s;
          }
          img {
            width: 100%;
            max-width: 100%;
            height: auto;
          }
        }
      }
      .tagline {
        font-size: 18px;
        color: $white;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }
    }

    .form_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 50px;
      position: relative;
      .btn_back {
        position: absolute;
        left: 50px;
        top: 50px;
      }

      &::after,
      &::before {
        content: "";
        height: 200px;
        width: 200px;
        position: absolute;
        background: linear-gradient(
          145.14deg,
          #95cff5 -20.07%,
          #61bbf9 123.16%
        );
        z-index: -1;
        border-radius: 100%;
        filter: blur(100px);
      }
    }

    @media (max-width: 1200px) {
      .visual_wrapper {
        .tagline {
          font-size: 16px;
        }
      }
    }

    @media (max-width: 992px) {
      flex-direction: column;
      .form_wrapper {
        .btn_back {
          right: 25px;
          left: auto;
          top: 60px;
        }
      }
    }

    @media (max-width: 550px) {
      .visual_wrapper,
      .form_wrapper {
        padding: 25px;
      }
      .form_wrapper {
        .btn_back {
          top: 30px;
        }
      }
    }
  }

  &.login_layout {
    > .inner_wrapper {
      .form_wrapper {
        .btn_back {
          display: none;
        }
        &::before {
          top: 0;
          right: 0;
        }
        &::after {
          bottom: 0;
          left: 0;
        }
      }
      .visual_wrapper {
        > .inner {
          .static-visual {
            .title {
              margin-bottom: -11%;
            }
          }
        }
      }
    }
  }

  &.register_layout,
  &.forgot_password_layout,
  &.otp_layout,
  &.new_password_layout {
    > .inner_wrapper {
      .visual_wrapper {
        > .inner {
          .static-visual {
            > .title {
              margin-bottom: -13%;
            }
          }
        }
      }

      .form_wrapper {
        &::before {
          top: -100px;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after {
          bottom: -100px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  &.forgot_password_layout {
    > .inner_wrapper {
      .form_wrapper {
        &::before {
          top: -50px;
          left: -50px;
          transform: none;
        }
        &::after {
          bottom: 0;
          right: -50px;
          left: auto;
          transform: none;
        }
      }
    }
  }
  &.otp_layout {
    > .inner_wrapper {
      .form_wrapper {
        &::before {
          top: -50px;
          left: auto;
          transform: none;
          right: 0;
        }
        &::after {
          bottom: 0;
          right: auto;
          left: -50px;
          transform: none;
        }
      }
    }
  }

  &.loading {
    .form_wrapper {
      .feis_loader_wrapper {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/*
  DASHBOARD LAYOUT
*/

section#dashboard_layout {
  height: 100%;
  min-height: 100vh;
  border-radius: 35px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: linear-gradient(145.14deg, #95cff5 -20.07%, #61bbf9 123.16%);
    filter: blur(100px);
  }

  .humburger {
    position: absolute;
    left: 10px;
    top: 24px;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 26px;
    z-index: 99;
    cursor: pointer;
    display: none;
  }

  /*
    DASHBOARD SIDEBAR
  */
  aside#dashboard_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: $dash_aside_width;
    height: 100%;
    background: linear-gradient(140.75deg, #95cff5 1.04%, #61bbf9 100.66%);
    transition: all 0.3s;
    z-index: 111;
    &:after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0;
      bottom: 0;
      right: 0;
      background: url(/images/sidebg.png);
      mix-blend-mode: overlay;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 0;
    }

    nav {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 10;
      padding: 15px 0 50px 25px;
      display: flex;
      flex-direction: column;
      &:before {
        content: "";
        position: absolute;
        left: 30px;
        top: 160px;
        width: 85px;
        height: 84px;
        background: url(/images/leaf.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }
      &:after {
        content: "";
        position: absolute;
        right: 30px;
        bottom: 60px;
        width: 100px;
        height: 100px;
        background: url(/images/leaf2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }

      .nav_brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 250px;
          transition: all 0.3s;
        }
      }

      .nav_list {
        flex: 1;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            a {
              cursor: pointer;
              color: $white;
              font-size: 18px;
              font-weight: 600;
              display: block;
              padding: 16px 25px;
              border-radius: 50px;
              margin-right: -20px;
              transition: all 0.3s;
              > i {
                margin-right: 10px;
              }

              &.active {
                background-color: $black;
                box-shadow: 6px 12px 24px rgba(16, 16, 16, 0.32);
              }
              &:not(.active):hover {
                background-color: rgb(1 13 23 / 80%);
                box-shadow: 6px 12px 24px rgba(16, 16, 16, 0.32);
              }
            }
            &:not(:last-child) {
              margin-bottom: 20px;
            }

            @media (max-width: 1600px) {
              &:not(:last-child) {
                margin-bottom: 10px;
              }
              a {
                font-size: 16px;
              }
            }
          }
        }
      }

      .logout {
        button {
          background-color: transparent;
          border: 0;
          outline: 0;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          color: $white;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.3s;
          .icon {
            padding-right: 10px;
          }
          &:hover {
            color: $color_grey_loading;
          }
        }

        @media (max-width: 1600px) {
          button {
            font-size: 16px;
          }
        }
      }
    }
    .togglebtn {
      position: absolute;
      right: -22px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      bottom: 30%;
      border: none;
      background: #f8f8f8;
      z-index: 99;
      transition: all 0.3s;
      cursor: pointer;
      i {
        height: 18px;
        width: 18px;
        border: 0;
        outline: 2px solid $black;
        border-radius: 4px;
        background-color: transparent;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
      }
      &:hover {
        box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.16);
      }
    }
  }
  // MOBILE RESPONSIVE SIDEBAR
  &.mobile {
    aside#dashboard_sidebar {
      left: 0;
      box-shadow: 4px 0px 20px rgb(0, 0, 0, 20%);
      .togglebtn {
        top: 18px;
        width: 35px;
        height: 35px;
        right: -18px;
        i {
          font-size: 14px;
          width: 14px;
          height: 14px;
          border-radius: 2px;
        }
      }
    }
  }

  // SIDEBAR COLLAPSE
  &.sidebar-collapse {
    .togglebtn {
      i {
        &:before {
          content: "\e902";
        }
      }
    }
  }

  .notification_open {
    display: block;
  }

  // ACCORDIAN
  /**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
  .accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    .accordion__item + .accordion__item {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .accordion__button {
      background-color: #f4f4f4;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      &:hover {
        background-color: #ddd;
      }
      &:before {
        display: inline-block;
        content: "";
        height: 10px;
        width: 10px;
        margin-right: 12px;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: rotate(-45deg);
      }
      &[aria-expanded="true"]::before,
      &[aria-selected="true"]::before {
        transform: rotate(45deg);
      }
    }
    [hidden] {
      display: none;
    }

    .accordion__panel {
      padding: 20px;
      animation: fadein 0.35s ease-in;
    }

    /* -------------------------------------------------- */
    /* ---------------- Animation part ------------------ */
    /* -------------------------------------------------- */

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  /*
   DASHBOARD MAIN CONTENT
  */
  main#dashboard_main {
    padding-left: $dash_aside_width;
    background-color: $main_dash_bg;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    > section.dash_content {
      flex: 1;
      position: relative;
      padding: $main_dash_y_padding $main_dash_y_padding;
      z-index: 10;

      .faq-row-wrapper {
        background: transparent;
        .faq-title {
          border: none;
          margin-bottom: 20px;
          h2 {
            font-size: 28px;
            font-weight: 700;
          }
        }

        .faq-body {
          .faq-row {
            padding: 10px 0;
            border: none;
            .row-title {
              border: 1px solid #95cff5;
              background: $white;
              box-shadow: 4px 8px 16px rgba(122, 122, 122, 0.12);
              border-radius: 50px;
              padding: 20px 40px;
              transition: all 0.3s;
              color: $color_grey;
              &.expanded {
                color: $black;
              }
              .icon-wrapper {
                top: 30px;
                right: 30px;
                svg {
                  fill: $color_primary;
                }
              }
              .row-title-text {
                font-weight: 700;
                font-size: 20px;
              }
            }

            .row-content {
              margin-top: 20px;
              background: $white;
              border: 1px solid rgba(148, 148, 148, 0.5);
              border-radius: 30px;
              .row-content-text {
                padding: 20px 40px;
                color: $black;
                font-size: 20px;
              }
            }
          }
        }
      }
      .aboutus {
        h3 {
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          color: $black;
          margin-bottom: 20px;
        }
      }
      .privacy_policy {
        h3 {
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          color: $black;
          margin-bottom: 20px;
        }
      }
      .help_support {
        h3 {
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          color: $black;
          margin-bottom: 20px;
        }
        .connect {
          margin-bottom: 30px;
          a {
            font-weight: 700;
            font-size: 18;
            margin-right: 15px;
            display: inline-block;
          }
        }
      }
      .settings {
        h3 {
          margin-bottom: 20px;
        }
        ul {
          padding: 0;
          list-style: none;
          margin: 0;
          li {
            margin-bottom: 16px;
            background: #ffffff;
            border-radius: 50px;
            border: 1px solid #95cff5;
            transition: all 0.3s;
            &:first-child {
              .list_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
            }
            .list_item {
              background: #ffffff;
              border-radius: 50px;
              display: block;
              padding: 20px 40px;
              h4 {
                font-weight: 700;
                font-size: 18px;
                color: #000;
              }
            }

            &:hover {
              box-shadow: 4px 8px 16px rgba(122, 122, 122, 0.12);
            }
          }
        }
      }
      .profile {
        .user_info {
          position: relative;
          display: inline-block;
          margin: 20px 0;
          .avatar {
            width: 120px;
            height: 120px;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .upload {
            height: 34px;
            width: 34px;
            background-color: #ffffff;
            border-radius: 60px;
            font-size: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
            input[type="file"] {
              opacity: 0;
              position: absolute;
            }
          }
        }

        &.loading {
          .feis_loader_wrapper {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  /*
   DASHBOARD TOP HEADER
  */
  header#dash_top_header {
    padding: 25px $main_dash_y_padding 25px calc($main_dash_y_padding);
    border-bottom: 1px solid rgba(148, 148, 148, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
    .user_info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .avatar {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.16);
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .content {
        // margin-left: 15px;
        .title {
          font-size: 24px;
          font-weight: 700;
          color: $black;
          margin-bottom: 4px;
        }
        .tag {
          font-size: 18px;
          font-weight: 700;
          color: $color_grey;
        }
      }
      @media (max-width: 1600px) {
        .avatar {
          height: $fmc_height;
          width: $fmc_height;
        }
        .content {
          .title {
            font-size: 22px;
          }
          .tag {
            font-size: 16px;
          }
        }
      }
    }
    .search_area {
      flex: 1;
      padding-left: 3vw;
      .search_field {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        .form-control {
          width: 100%;
          box-shadow: 8px 12px 24px rgba(116, 116, 116, 0.15);
          padding-left: calc(25px + $fmc_x_padding);
          height: $fmc_height;
        }
        .icon {
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
        @media (max-width: 1600px) {
          .form-control {
            height: $fmc_height_med;
          }
        }
      }
    }
    .notification_button {
      height: $fmc_height;
      width: $fmc_height;
      background-color: $white;
      outline: 0;
      border: 0;
      border-radius: 50px;
      margin-left: 3vw;
      font-size: 28px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      &:hover {
        .icon {
          -webkit-animation: ring 4s ease-in-out;
          -webkit-transform-origin: 50% 4px;
          -moz-animation: ring 4s ease-in-out;
          -moz-transform-origin: 50% 4px;
          animation: ring 4s ease-in-out;
          transform-origin: 50% 4px;
        }
      }

      .icon,
      .notification_active {
        position: relative;
      }

      @media (max-width: 1600px) {
        height: $fmc_height_med;
        width: $fmc_height_med;
      }

      &.has_notifications {
        .notification_active {
          &::after {
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 100%;
            background-color: $color_notifi_red;
            position: absolute;
            top: -18px;
            right: 0px;
            transition: all 0.3s;
          }
        }
      }
    }
  }

  @media (max-width: 1600px) {
    aside#dashboard_sidebar {
      width: $dash_aside_width_med;
    }
    main#dashboard_main {
      padding-left: $dash_aside_width_med;
    }
  }

  @media (max-width: 1399px) {
  }
  @media (max-width: 1199px) {
  }
  @media (max-width: 991px) {
  }
  @media (min-width: 768px) {
    &.sidebar-collapse {
      aside#dashboard_sidebar {
        width: 4.5em;
        nav {
          padding-left: 10px;
          padding-right: 10px;
          .nav_brand {
            img {
              max-width: 90px;
              margin-left: 10px;
              margin-top: -10px;
            }
          }
          .nav_list {
            ul {
              li {
                a {
                  font-size: 0;
                  margin-right: 0;
                  border-radius: 10px;
                  padding: 15px;
                  i {
                    font-size: 20px;
                    margin: 0;
                    display: inline-block;
                  }
                }
              }
            }
          }
          .logout {
            text-align: center;
            button {
              font-size: 0;
              padding: 0;
              .icon {
                font-size: 24px;
                padding-right: 0;
              }
            }
          }
          &:before {
            left: auto;
            right: 0;
          }
        }
      }
      main#dashboard_main {
        padding-left: 4.5em;
      }
    }
  }
  @media (max-width: 767px) {
    .form_row {
      .form_col {
        flex: unset;
        max-width: 100%;
      }
    }
    .humburger {
      display: inline-block;
    }
    aside#dashboard_sidebar {
      left: -100%;
    }
    main#dashboard_main {
      padding-left: 0;
      > section.dash_content {
        padding: 20px;
      }
    }

    header#dash_top_header {
      padding: 15px 20px 15px 50px;
      .user_info {
        .avatar {
          height: 40px;
          width: 40px;
        }
        .content {
          // margin-left: 8px;
          .title {
            font-size: 16px;
            margin-bottom: 0;
          }
          .tag {
            font-size: 12px;
          }
        }
      }
      .search_area {
        .search_field {
          .form-control {
            height: 40px;
          }
        }
      }
      .notification_button {
        height: 40px;
        width: 40px;
        font-size: 22px;
        &.has_notifications {
          .notification_active {
            &:after {
              top: -14px;
            }
          }
        }
      }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      &.form-control {
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s;
      }
    }
  }
  @media (max-width: 320px) {
    aside#dashboard_sidebar {
      width: 12em;
    }
  }
}

section.document-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  padding: 25px;
  backdrop-filter: blur(5px);
  transition: all 0.3s;
  transform: scale(0);
  opacity: 0;
  visibility: collapse;
  > .inner {
    height: 100%;
    width: 100%;
    padding: 25px;
    background-color: $white;
    border-radius: 25px;
    box-shadow: 0 0 16px rgb(1, 13, 23, 20%);
    position: relative;
    iframe {
      height: 100%;
      width: 100%;
    }

    .close-btn {
      position: absolute;
      top: -5px;
      right: -5px;
      height: 25px;
      width: 25px;
      background-color: $black;
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      &::after {
        content: "\e90b";
        font-size: 12px;
        color: $white;
        font-family: "icomoon";
      }

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  &.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
