$black: #010d17;
$white: #ffffff;
$color_primary: #0091ff;
$color_danger: #ff002b;
$color_success: #6ad742;
$theme_btn_primary_grad: linear-gradient(142.5deg, #95cff5 1.12%, #61bbf9 98.54%);

/*
 DASHBOARD LAYOUT SETTINGS
*/
$dash_aside_width: 16em;
